#hkgjghjkjgh{
    background-color: blue;
    height: 100px;
    width: 100px;
    animation-name: anmi1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes anmi1 {
    from{
        background-color: rgb(117, 25, 25);
    }
    to{
        background-color: black;
    }
    
}
#fghf{
    color: blue;
}

