#hkgjghjkjgh{
    background-color: blue;
    height: 50px;
    width: 50px;
    animation-name: anmi1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    border-radius: 50%;
    border: 50px dashed  cyan;
}
@keyframes anmi1 {
   
    
    to{
        transform: rotatex(-360deg);
        transform: rotatey(-360deg);
    }
    
}
#fghf{
    color: blue;
}

